.blockbar-head-img {
  background: url('images/menu-expanded-white.png') 5px 50% no-repeat;
  height: 15px;
  width: 2em;
  padding: 0;
  float: left;
  clear: both;
}
.blockbar-head-img.collapse {
  background: url('images/menu-collapsed-white.png') 5px 50% no-repeat;
}
.blockbar-head {
 	float: left;
  clear: right;
}
/*
** Example of stying panel headings
** 
** use .blockbar-title to style all blockbar headings
**
** use .blockbar-n-title to style blockbar headings
** diferently by BLockBar where 'n' is the BlockBar number
** 
*/
.blockbar-title{
  cursor:pointer;
  margin-bottom: 2px;
  background-color:#6699CC;
  color:#FFFFFF; 
  width: auto;
  height: 15px;
  padding:2px;
  text-align:left;
  font-weight:bold;
  border:1px solid #000000;
}
/*
** Example of stying panel contents
** 
** use .blockbar-content to style blockbar contents
**
** use .blockbar-n-content to style blockbar contents
** diferently by BLockBar where 'n' is the BlockBar number
** 
*/
.blockbar-n-content {
	width: 120px;
	height: 350px;
	overflow: auto;
	border: 1px solid #666;
	padding: 2px;
}
